/* Center the form full screen */
.view-claim-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  box-sizing: border-box;
}

/* Card-style layout */
.view-claim-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  gap: 1.5rem;
}

/* Headings */
.view-claim-card h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.view-claim-card h3 {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.form-description {
  margin-top: 0.5rem;
  font-size: 0.95rem;
}


input {
  border: 1px solid #444;
  border-radius: 6px;
  padding: 10px;
  font-size: 0.9rem;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  transition: border 0.3s ease;
  background-color: #FCF8F4;
  margin-top: 0.5rem;
}

input:focus {
  border-color: lightseagreen;
  background-color: #FCF8F4;
  outline: none;
}

button {
  padding: 12px;
  margin-top: 2.5rem;
  
  font-size: 1rem;
  border: none;
  background-color: lightseagreen;
  color: white;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: teal;
}


.success-message {
  color: black;
  text-align: right;
}

.denial-reason {
  color: red;
  text-align: right;
}

/* Error message */
.error-message {
  color: red;
  text-align: right;
}
