header {
  width: 100%;
  z-index: 9999;
  padding: 1rem;
}

nav {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 0.5rem;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid teal;
}